@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NissanBrand";
  src: url("https://www.nismo.com/_next/static/media/NissanBrand-Regular.6344ba25.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "NissanBrand-Bold";
    src: url("https://www.nismo.com/_next/static/media/NissanBrand-Bold.086387e9.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
  }

body {
  background-color: black;
  font-family: 'NissanBrand', sans-serif;
}
